body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 40px 600px repeat(5, 1fr);
    font-family: 'Quicksand', sans-serif;
    background-color: #787d87;
    color: white;
}
nav{
    display: inline-grid;
    grid-column: span 9;
    grid-template-columns: 50px repeat(11, 1fr);
    grid-template-rows: 40px;
    color: white;
    font-weight: bold;
    align-items: center;
}

.links{
    text-decoration: none;
}
.links, .links a{
    padding: 10px 20px;
    text-align: center;
    color:white;
}
.logo{
    margin-top: 1.8em;
    width: 100px;
    height: 170%;
    display: inline-block;
    z-index: 2;
}
nav > a:nth-child(1){
    grid-column: 3;
}
nav > a:nth-child(2){
    grid-column: 5;
}
.blenderImage{
    grid-row: 2;
    grid-column: 1 / 10;
    background-color: cadetblue;
    position: sticky;
    background: url("https://dbql2bd8kqpp.cloudfront.net/network6/storage/7/attachments/5293-01-benchmark.jpg") no-repeat top center fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}img{
    height: 100%;
    width: 100%;
}.blenderImage p{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}.blenderImage p:nth-child(2){
    font-size: 20px;
}.blenderImage button{
    border: none;
    font-size: 15px;
    background-color: #0EA0FF;
    color: white;
    padding: 15px;
    font-weight: 800;
}
.quick-info{
    grid-column: 2 / 9;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(10, 1fr);
}.quick-info h1{
     color: #ff852d
}
.about{
    grid-column: span 4;
}
.get-involved{
    grid-column: 6 / 11;
}.about a:hover, .get-involved a:hover{
    color: #ff852d;
}
.needToKnow{
    grid-row: 4 / 6;
    grid-column: 3 / 7;
    
}.needToKnow iframe{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    
}